In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']})

In [3]:
df

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [6]:
df[df['age'].isnull()]

  animal  age  visits priority
3    dog  NaN       3      yes
7    cat  NaN       1      yes

In [7]:
pd.__version__

'0.23.4'

In [8]:
df[[df['age'].isnull(),df['animal']'cat']]

SyntaxError: invalid syntax (<ipython-input-8-ecf21bac0acb>, line 1)

In [64]:
df[['age']]

   age
0  2.5
1  3.0
2  0.5
3  NaN
4  5.0
5  2.0
6  4.5
7  NaN
8  7.0
9  3.0