In [ ]:
print(hello)

In [ ]:
%%bash
pwd

In [ ]:
%%bash 
wget "http://byteacademy.co"

In [ ]:
wgit "http://byteacademy.co"

In [ ]:
get "http://byteacademy.co"

In [ ]:
wgit "http://byteacademy.com"

In [ ]:
wget "http://byteacademy.co"

In [ ]:
wgit "http://byteacademy.com"

In [ ]:
wget "http://byteacademy.co"

In [ ]:
wget "http://byteacademy.com"

In [1]:
import pandas as pd
import bumpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'bumpy'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan.6,8])

SyntaxError: invalid syntax (<ipython-input-3-422ac55ec2fe>, line 1)

In [4]:
[1,3,5,np.nan,6,8]

[1, 3, 5, nan, 6, 8]

In [5]:
df1 = pd.DataFrame({'A': 1., 
                   'B': pd.Timestamp('20170101'),
                    'C': pd.series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3] * 4,dtype='int32'),
                    'E': pd.Categorical(['test','train','test','train']),
                    'F': 'foo'
                   })

AttributeError: module 'pandas' has no attribute 'series'

In [6]:
df1 = pd.DataFrame({'A': 1., 
                   'B': pd.Timestamp('20170101'),
                    'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3] * 4,dtype='int32'),
                    'E': pd.Categorical(['test','train','test','train']),
                    'F': 'foo'
                   })

In [7]:
df1 = pd.DataFrame({'A': 1., 
                   'B': pd.Timestamp('20170101'),
                    'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3] * 4,dtype='int32'),
                    'E': pd.Categorical(['test','train','test','train']),
                    'F': 'foo'
                   })

In [8]:
df1

     A          B    C  D      E    F
0  1.0 2017-01-01  1.0  3   test  foo
1  1.0 2017-01-01  1.0  3  train  foo
2  1.0 2017-01-01  1.0  3   test  foo
3  1.0 2017-01-01  1.0  3  train  foo